<app-header></app-header>

<!-- <div>
  <div class="toolbar" role="banner">
    <a href="">
        <img
      style="color: white;"
      width="80"
      alt="Angular Logo"
      src="https://img.favpng.com/5/1/23/logo-brand-name-font-product-png-favpng-n4A1RKY2qf7SYyRYuYMGrf3M5.jpg"
    />
    </a>
        
    
    <input type="text" class="form-control search"  aria-describedby="emailHelp"  placeholder="Search Products"/>
      <div class="spacer"></div>
      <a  class="badge badge-primary" style="font-size: large;"  (click)="OpenCart()"><i class="fa-solid fa-cart-shopping" aria-hidden="true" style="font-size:xx-large; margin-right: 20p;"></i><span style="color: green;">{{length}}</span></a>

  </div>
<div>
    <body><div class="area"></div><nav class="main-menu">
              <ul>
                  <li>
                      <a routerLink="login&Regestration" style="background-color:#170606; color:white;">
                          <i class="fa fa-user fa-2x"></i>
                          <span class="nav-text" style="font-size: large; font-weight: bold;">
                             Hello, {{loginUser}}
                          </span>
                      </a>
                    
                  </li>
                  <li class="has-subnav">
                      <a href="#">
                          <i class="fa fa-shoe-prints fa-2x"></i>
                          <span class="nav-text">
                              Shoes
                          </span>
                      </a>
                      
                  </li>
                  <li class="has-subnav">
                      <a routerLink="/AdminLogin">
                         <i class="fa fa-comments fa-2x"></i>
                          <span class="nav-text">
                              Best sellers
                          </span>
                      </a>
                      
                  </li>
                  <li class="has-subnav">
                      <a href="#">
                         <i class="fa fa-camera-retro fa-2x"></i>
                          <span class="nav-text">
                              New Releases
                          </span>
                      </a>
                     
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-mobile fa-2x"></i>
                          <span class="nav-text">
                              Mobiles
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-laptop fa-2x"></i>
                          <span class="nav-text">
                             Laptops
                          </span>
                      </a>
                  </li>
                  <li>
                     <a href="#">
                         <i class="fa fa-diamond fa-2x"></i>
                          <span class="nav-text">
                              Jewalieries
                          </span>
                      </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="fa fa-shirt fa-1x"></i>
                          <span class="nav-text">
                              Mens Clothes
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                         <i class="fa fa-vest-patches fa-2x"></i>
                          <span class="nav-text">
                              Womens Clothes
                          </span>
                      </a>
                  </li>
                  <li>
                    <a routerLink="/AdminLogin">
                       <i class="fa fa-duotone fa-user fa-2x"></i>
                        <span class="nav-text">
                            Admin Login
                        </span>
                    </a>
                </li>
              </ul>
              
  
              <ul class="logout">
                  <li>
                     <a href="#">
                           <i class="fa fa-power-off fa-2x"></i>
                          <span class="nav-text">
                              Logout
                          </span>
                      </a>
                  </li>  
              </ul>
          </nav>
    </body>
</div> -->
<div class="backgroud">
    <router-outlet></router-outlet>
  </div>


